{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, nemo dolore at minus corporis unde sit vel laudantium adipisci modi similique dolorum excepturi? Autem quos cupiditate in modi, porro id.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signup">
                Signup
            </a>
            <a class="btn btn-primary" href="/signin">
                Signin
            </a>
        </div>
    </section>    
</main>
{% endblock %}