{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mytitle}}</title>
</head>
<body>

<main class="container">
<div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
        <form method="POST" class="card card-body">
            <h1 class="text-center">Sign in</h1>
            {{error}}
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" placeholder="Write your username" id="username">
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="Write your password" id="password">
            </div>

            <button class="btn btn-primary">Signin</button>
        </form>
    </div>
</div>
</main>
</body>
</html>

{% endblock %}